<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign-Up Page</title>
  </head>
  <body>
    <h1>Log-In Page</h1>

    <p><a href="/">Home Page</a></p>

    <form action="/log-in" method="POST">
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
