# Dependencies
node_modules/
.pnp.*

# Build output
dist/
build/
out/

# Environment
.env
.env.*
!.env.example
.envrc

# Logs
*.log
npm-debug.log*

# JS/TS caches
.cache/
.parcel-cache/
coverage/
*.tsbuildinfo

# Editors & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
Desktop.ini