/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Roboto, sans-serif;
  padding: 50px;
  background-color: #0891b2;
}

/* FOOTER */

footer {
  color: white;
  display: flex;
  gap: 50px;
}

.footer--left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer--phone,
.footer--email,
.footer--socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer svg {
  height: 25px;
  width: 25px;
  fill: white;
  flex-shrink: 0;
}

footer h2 {
  font-family: Playfair Display, serif;
}
