body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: sans-serif;
}

.cell {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: whitesmoke;
}

.row {
  display: flex;
}
