<h1>Messages</h1>
<a href="/new">Post a message!</a>
<ul>
  <% messages.forEach((message) => { %>
  <li>
    <strong><%= message.user %></strong>: <%= message.text %>
    <small>(<%= message.added %>)</small>
  </li>
  <% }) %>
</ul>
