<h1>Post</h1>
<a href="/">Take me home...</a>
<form method="POST" action="/new">
  <input name="text" type="text" placeholder="Message" />
  <input name="user" type="text" placeholder="User" />
  <button type="submit">Post</button>
</form>
