<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Folders</title>
  </head>
  <body>
    <h1>Folders</h1>
    <a href="/">Home</a>
    <form action="/folders" method="POST">
      <label for="name">Name</label>
      <input id="name" name="name" placeholder="Name" type="text" />
      <button type="submit">Create Folder</button>
    </form>

    <!-- Render all folders -->
  </body>
</html>
