<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <% if (locals.user) { %>
    <h2>Welcome back!</h2>
    <a href="/log-out">Log-Out</a>
    <% } else { %>
    <a href="/sign-up">Sign-Up Page</a>
    <a href="/log-in">Log-In Page</a>
    <% } %>
  </body>
</html>
